$red: #ff1066;
$color1: #20ff99;
$color2: #ff1066;
$color3: #f2f200;
$color4: #20ffe4;
$color5: #e68722;
$color6: #30bbff;
$color7: #b37fe6;

// Breakpoint variables
// ====================================================================
$XS: 18em; // roughly speaking, around 288px wide with 16px body font
$S: 30em; // roughly speaking, around 480px wide with 16px body font
$M: 43em; // roughly speaking, around 688px wide with 16px body font
$L: 57em; // roughly speaking, around 912px wide with 16px body font